.container {
    display:flex;
    flex-wrap:wrap;
}
.box {
    width: 100%;
    height: 100px;
    
}
.purple {
    background-color: purple;
}
.lightblue {
    background-color:lightblue;
}
.red {
    background-color:red;
}
.orange {
    background-color:orange;
}
.blue {
    background-color: blue;
}
.green {
    background-color: green;
}


@media only screen and (min-width: 450px) {
    .orange{
        width: 25%;
    }
    .red {
        width:  75%;
    } 
}


@media screen and (min-width: 450px) {
    .lightblue, .green{
        width:50%;
    }
}
@media screen and (min-width: 550px) {
    .purple, .lightblue{
        width:50%;
    }
    .green, .blue, .red {
        width: 33.3333%;
    }
    .orange {
        width: 100%;
    }
}

@media screen and (min-width: 700px) {
    .container {
        width:  700px;
        margin-left: auto;
        margin-right: auto;
    }
}