.container {
    display: flex;
    flex-wrap: wrap;
    border: solid 1px #eeeeee;
    border-radius: 10px;
    box-shadow: 2px 2px 2px #eeeeee;
    max-width: 300px;
    backgorund-color:#fff;
}
.container-2 {
    display:flex;
    flex-wrap: wrap;
    border-radius: 10px;
    background-color: #81B214;
    margin: 10px;
    
}
.container-2 .list {
    justify-self: flex-start;
}
.class-type {
    display:flex;
    justify-self: center;
    align-self: center;
    justify-content: center;
    font-size:10px;
    background-color: #fff;
    border-radius: 30px;
    height: 30px;
    width: 30px;
    border: #eee solid 1px;
    background-color: #000;
    color:#fff;
    margin-bottom: 1px;
}
.heading img {
    align-self: flex-end;
    width: 100%;
    border-radius: 10px 0;
    margin:0;
    padding: 0;
}
.heading {
    display:flex;
    flex-wrap: wrap;
    background-color: white;
    color:#000;
    border-radius:  10px 0;
    margin:0;
    padding:0;
}
.heading h1 {
    margin: 1px 0px 1px 5px;
    padding: 0;

}
.list {
    display:flex;
    flex-wrap: wrap;
}
.list ul {
    list-style: none;
    font-size: 20px;
    color: #fff;
    width: 100%;
    margin: 3px;
    padding: 0;
    
}
.list li {
    width: 280px;
    border-radius: 10px;
}
.list li:hover {
    color:#000;
    background-color:#fff;
}
